@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url(//db.onlinewebfonts.com/c/488adf84f184eb603da807be9372e2c6?family=AnnonceW01-Regular);
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("components/footer.css");
@import url("components/table.css");
@import url("components/header.css");
@import url("components/buttons.css");

body {
  background: linear-gradient(#f9f9f9, #ffffff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.grey-modal {
  background: #f9f9f9;
}
